@import "~materialize-css/dist/css/materialize.min.css";
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.content-wrapper {
    padding-top: 30px;
}

.App-Title {
    font-family: Fredoka One;
}

.nav-wrapper {
    padding: 15px 20px;
}

.input-wrap { padding-bottom: 20px; }